<!DOCTYPE html>
<html>
<head>
    <title>Alert Dashboard</title>
    <style>
     body { font-family: Arial; background: #f4f4f4; }
    h1 { text-align: center; color: red; }
    table { width: 90%; margin: auto; border-collapse: collapse; }
    th, td { padding: 10px; border: 1px solid #333; text-align: center; }
    th { background: #333; color: white; }
    tr:nth-child(even) { background: #ddd; }
</style>

</head>
<body>

<h1>🚨 Toll Plaza Alert Dashboard</h1>


<div style="text-align:center; margin: 20px;">
<form method="post" enctype="multipart/form-data" action="{% url 'upload_video' %}">
        {% csrf_token %}
        <input type="file" name="video" accept="video/*" required>
        <button type="submit" style="padding:8px;">Upload Video</button>
    </form>
</div>
<hr style="width:90%; margin:auto;">
<form method="get" style="text-align:center; margin-bottom:20px;">
    <input type="text" name="q" placeholder="Search plate number"
           value="{{ query|default:'' }}"
           style="padding:8px; width:250px;">
    <button type="submit" style="padding:8px;">Search</button>
</form>

<table>
    

    <tr>
        <th>Plate Number</th>
        <th>Alert Type</th>
        <th>Detected Color</th>
        <th>Time</th>
        <th>Image</th>
    </tr>

    {% for alert in alerts %}
    <tr>
        <td>{{ alert.plate_number }}</td>
        <td class="alert-{{ alert.alert_type }}">
    {{ alert.alert_type }}
</td>

        <td>{{ alert.detected_color }}</td>
        <td>{{ alert.detected_time }}</td>
        <td>
    {% if alert.image %}
        <img src="{{ alert.image.url }}" width="120">
    {% else %}
        No Image
    {% endif %}
</td>

    </tr>
    {% empty %}
    <tr>
        <td colspan="4">No alerts yet</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
