<!DOCTYPE html>
<html>
<head>
    <title>Operator Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <h3>Video System</h3>
    <a href="/">Logout</a>
</div>

<div class="dashboard-container">

    <h2>Dashboard</h2>

    <div class="card-container">
        <a href="/upload" class="card">
            <h3>Upload Video</h3>
        </a>

        <a href="/alerts" class="card">
            <h3>View Alerts</h3>
        </a>
    </div>

</div>

</body>
</html>