<!DOCTYPE html>
<html>
<head>
    <title>Alerts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <h3>Alerts</h3>
    <a href="/operator">Back</a>
</div>

<div class="dashboard-container">

<table>
    <tr>
        <th>Vehicle No</th>
        <th>Reason</th>
        <th>Time</th>
        <th>Location</th>
    </tr>

    {% for a in alerts %}
    <tr>
        <td>{{ a.vehicle_reg_no }}</td>
        <td class="alert">{{ a.alert_reason }}</td>
        <td>{{ a.alert_time }}</td>
        <td>{{ a.toll_location }}</td>
    </tr>
    {% endfor %}

</table>

</div>

</body>
</html>