* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: linear-gradient(120deg, #eef2f3, #dfe9f3);
}

/* NAVBAR */
.navbar {
  height: 60px;
  background: #1e293b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.logout {
  background: #ef4444;
  padding: 8px 16px;
  border-radius: 6px;
  width: auto;
}

/* COMMON */
.container {
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 380px;
  background: white;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
}

.box h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* INPUT */
input {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
}

/* BUTTON */
button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #1e40af;
}

/* DASHBOARD */
.title {
  text-align: center;
  margin-top: 40px;
}

.dashboard {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 80px;
}

.card {
  width: 230px;
  padding: 40px 20px;
  background: white;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.12);
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card i {
  font-size: 40px;
  color: #2563eb;
  margin-bottom: 15px;
}

/* VIDEO */
video {
  width: 100%;
  margin-top: 15px;
  border-radius: 8px;
}
